* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.background__wrapperPath {
  background: url(/img/Path.svg);
  background-repeat: no-repeat;
  background-position-x: 533px;
  background-position-y: -26px;
}

.background__wrapperGroup {
  background: url(/img/Group.svg);
  background-repeat: no-repeat;
  background-position-x: 800px;
  background-position-y: 230px;
}

.background__wrapperRectangle {
  background: url(/img/Rectangle.svg);
  background-repeat: no-repeat;
  background-position-x: 120px;
  background-position-y: 2200px;
  padding-bottom: 200px;
}

.header {
  margin-bottom: 250px;
}

body {
  font-family: "Roboto", serif;
}

.container {
  width: 1110px;
  margin: 0px auto;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__links {
  display: flex;
  width: 300px;
  justify-content: space-between;
  color: #505F98;
}

.header__logo {
  color: #37447E;
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
}

.header__button {
  background-color: #111b47;
  color: white;
  padding: 5px 70px;
  border-radius: 5px;
  border: none;
}

.hero {
  padding-bottom: 390px;
}

.hero__introduse {
  max-width: 551px;
}

.hero__title {
  font-weight: 500;
  font-size: 50px;
  color: #091133;
  line-height: 66px;
}

.hero__text {
  color: #505F98;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 70px;
}

.hero__purchase {
  background-color: #111B47;
  color: white;
  padding: 6px 50px;
  margin-right: 30px;
}

.hero__learn {
  background-color: transparent;
  padding: 6px 50px;
}

.hero__path {
  transform: translate(16%, -58%);
}

.fast {
  margin-top: 100px;
}

.fast__cards {
  margin: 400px 0;
}

.fast__card {
  display: flex;
  margin: 100px 0;
}

.fast__card-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0px;
}

.fast__card-left button {
  display: block;
  justify-content: flex-start;
  width: 150px;
  padding: 8px 10px;
  border-radius: 3px;
  border: none;
  background-color: #111B47;
  color: white;
}

.fast__title {
  margin-bottom: 16px;
  font-size: 36px;
  line-height: 48px;
  color: #091133;
}

.fast__text {
  margin-bottom: 120px;
  color: #6F7CB2;
  font-size: 16px;
  line-height: 26px;
}

.fast__miniCard {
  max-width: 255px;
}

.fast__miniCard img {
  margin-bottom: 14px;
}

.fast__miniCard h3 {
  font-size: 16px;
  line-height: 26px;
  color: #091133;
}

.fast__miniCard p {
  font-size: 12px;
  line-height: 18px;
  color: #5D6970;
}

.fast__miniCard-wrapper {
  display: flex;
  gap: 30px;
}

.fast__card-another {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 125px;
}

.price img {
  transform: translate(-11%, -77%);
  opacity: 0.6;
}

.price__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.price__title {
  font-size: 36px;
  line-height: 48px;
  color: #091133;
  margin-bottom: 16px;
}

.price__text {
  font-size: 16px;
  line-height: 26px;
  color: #6F7CB2;
  margin-bottom: 36px;
  max-width: 600px;
}

.price__dollars {
  font-size: 50px;
  color: #222F65;
  margin-bottom: 10px;
}

.price__Design {
  font-size: 16px;
  color: #37447E;
  margin-bottom: 60px;
}

.price__simple {
  font-size: 14px;
  color: #5D6970;
  margin-bottom: 15px;
}

.Purchase {
  font-size: 14px;
  padding: 10px 70px;
  border-radius: 3px;
  border: none;
  background-color: #111B47;
  color: white;
}

.footer {
  padding: 30px 0;
}

.footer__background {
  background: url(/img/footer-background.svg);
  background-repeat: no-repeat;
  background-position-x: 120px;
}

.footer__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer__home {
  font-size: 14px;
  color: #939EA4;
}

.footer__logo {
  color: #37447E;
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
}

.footer__button {
  font-size: 12px;
  padding: 8px 30px;
  border-radius: 3px;
  border: none;
  background-color: #111B47;
  color: white;
}

hr {
  border: 0.4px solid #CDD1D4;
  margin-bottom: 20px;
}

.footer__afterHr {
  display: flex;
  justify-content: space-between;
}

.footer__link-second {
  display: flex;
  gap: 60px;
  color: #929ECC;
}

.footer__images-wrapper {
  display: flex;
  gap: 30px;
}