.background__wrapper-path{
    background: url(/img/Path.svg);
    background-repeat: no-repeat;
    background-position-x: 533px;
    background-position-y: -26px;
}
.background__wrapper-group{
    background: url(/img/Group.svg);
    background-repeat: no-repeat;
    background-position-x: 800px;
    background-position-y: 230px;
}


