.background__wrapper-path{
    background: url(/img/Path.svg);
    background-repeat: no-repeat;
    background-position-x: 533px;
    background-position-y: -26px;
}
.background__wrapper-group{
    background: url(/img/Group.svg);
    background-repeat: no-repeat;
    background-position-x: 800px;
    background-position-y: 230px;
}
.background__wrapper-rectangle{
    margin: 300px 0;
}

@media (max-width: 900px){
    .background__wrapper-path{
       background: none;
    }
    .background__wrapper-group{
        background: none;
    }
    .background__wrapper-rectangle{
        margin: 100px 0;
    }
    
}

