.background__wrapperPath{
    background: url(/img/Path.svg);
    background-repeat: no-repeat;
    background-position-x: 533px;
    background-position-y: -26px;
}
.background__wrapperGroup{
    background: url(/img/Group.svg);
    background-repeat: no-repeat;
    background-position-x: 800px;
    background-position-y: 230px;
}

.background__wrapperRectangle{
    background: url(/img/Rectangle.svg);
    background-repeat: no-repeat;
    background-position-x: 120px;
    background-position-y: 2200px;
    padding-bottom: 200px;
}