
.fast__cards {
    margin: 300px 0;
}
.fast__card {
    display: flex;
    margin: 100px 0;
}
.fast__card-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0px;
}
.fast__card-left { 
    button {
        width: 150px;
        padding: 8px 10px;
        font-size: 14px;
        margin-top: 50px;
    }
} 
.fast__title {
    margin-bottom: 16px;
    font-size: 36px;
    line-height: 48px;
    color: $title-blue;
}
.fast__text { 
    color: $text-blue;
    font-size: 16px;
    line-height: 26px;
}
.fast__text-first{
    margin-bottom: 120px;
}
.fast__minicard {
    max-width: 255px;
}
.fast__minicard {
    img{
        margin-bottom: 14px;
    }
}
.fast__minicard {
    h3{
        font-size: 16px;
        line-height: 26px;
        color: $title-blue;
    }
}
.fast__minicard {
    p{
        font-size: 12px;
        line-height: 18px;
        color: $gray;
    }
}
.fast__minicard-wrapper {
    display: flex;
    gap: 30px;
}
.fast__card-another{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 125px;
}
.fast__card-content{
    max-width: 445px;
}