.footer {
    background-color: #e7ecff;
    padding: 30px 0px;
}


.footer__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.logo {
    color: $logo-blue;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
}
.footer__button {
    font-size: 12px;
    padding: 6px 30px;
}

hr{
    border: 0.3px solid;
    margin-bottom: 20px;
    border-color: #CDD1D4;
}
.footer__year{
    color: #939EA4;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
}
.footer__link-second {
    display: flex;
    gap: 60px;
    margin-bottom: 10px;
    .footer__home {
        color: #929ECC;
        font-size: 14px;
        text-decoration: none;
    }
    .footer__about{
        font-size: 14px;
        color: #929ECC;
        text-decoration: none;
    }
    .footer__contact{
        font-size: 14px;
        color: #929ECC;
        text-decoration: none;
    }
}

.footer__social-wrapper{
    display: flex;
    gap: 30px;
}



@media(max-width:600px){
    .footer__top{
        flex-direction: column;
    }
    .logo__bottom{
        margin: 10px 0;
        font-size: 22px;
    }
    .footer__bottom{
        flex-wrap: wrap;
        justify-content: center;
    }
}