.hero {
    padding-bottom: 390px;
}
.container {
}
.hero__introduse {
    max-width: 551px;
    
}
.hero__title {
    font-weight: 500;
    font-size: 50px;
    color: #091133;
    line-height: 66px;
}
.hero__text {
    color: #505F98;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 70px;
}
.button__wrapper {
}
.hero__purchase {
    background-color: #111B47;
    color: white;
   padding: 6px 50px;
   margin-right: 30px;
}
.hero__learn {
    background-color: transparent;
    padding: 6px 50px;

}

.hero__path {
    transform: translate(16%, -58%);
    
    
}
.hero__group {
}